img{
    max-height: 300px;
    max-width: 500px;
}

h1{
    margin: 0px;
}

button{
    min-width: 100px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;

}

body{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.header, .hero{
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 500px;
 
}

.hero{
    max-height: 500px;
}


.header-logo-text{
    display: flex;
    font-size: 24px;
    font-style: bold;
    min-height: 100px;
    min-width: 500px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.container-right-header{
    display: flex;
    min-width: 500px;
    gap: 25px;
}

.left-hero{
    max-width: 500px;
    min-height: 300px;
    align-items: flex-start;
}

.left-hero h1{
    font-size: 48px;
}

.information, .information-image{
    display: flex;
    justify-content: center;

}

.information{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}


.information-image{
    gap: 50px;
    margin-bottom: 100px;
}

.container-image, .container-image img{
    max-width: 300px;
}

.container-image img{
    border: solid lightblue;
    border-radius: 20px;
}
