
body{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

.header-logo-text, .header, .hero-main-text{
    color: #f9faf8;
}

.header-logo-text{
    font-size: 24px;
    font-style: bold;
}

.header{
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.container-right-header{
    display: flex;
    gap: 25px;
}


